@page "/"

<PageTitle>Book Catalog</PageTitle>

<h1>Book Catalog</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Price</th>
        <th>ReleaseDate</th>
        <th></th>
    </thead>
    <tbody>

    </tbody>
</table>
